feeders/nextbus/nextbus/nextbus-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="body">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="route" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="message" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="interval" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="startDay" type="xs:int" use="required"/>
                                                <xs:attribute name="startTime" type="xs:long" use="required"/>
                                                <xs:attribute name="endDay" type="xs:int" use="required"/>
                                                <xs:attribute name="endTime" type="xs:long" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <!-- Define 'routeConfiguredForMessage' and 'routeForMessage' here -->
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:long" use="required"/>
                                    <xs:attribute name="creator" type="xs:string" use="required"/>
                                    
                                    <!-- Define 'startBoundary' and 'endBoundary' attributes here -->
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tag" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
